<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ customIncludePath }}img/footer_logo.png" alt="logo">
                    </div>
                    <div class="col-md-9">
                        <address>
                            4125 east brundage ln<br/>
                            bakersfield, ca 93307
                        </address>
                        <p>P: 661.324.6207</p>
                        <p>F: 661.324.5604</p>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Support:</h5>
                        <p><a href="#">wsimp.com</a></p>
                        <p><a href="#">orders@wsimp.com</a></p>
                    </div>
                    <div class="col-md-6">

                        <h5>Hours:</h5>
                        <p>mon &mdash; fri: 8am to 4:30pm</p>
                        <p>closed sat and sun</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3254.08263858613!2d-118.95750969999999!3d35.353595399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ea6b86b90d6499%3A0xc59d083b3d7ff8ae!2s4125+E+Brundage+Ln%2C+Bakersfield%2C+CA+93307%2C+USA!5e0!3m2!1sen!2sin!4v1432814385135" style="border:0" frameborder="0" height="167" width="252"></iframe>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ includePath }}js/moment.min.js"></script>

<script type="text/javascript" src="{{ includePath }}js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ customIncludePath }}js/script.js"></script>

</body>
</html>