{% extends 'layout.html' %}
 {% block content %}
	<div class="col-md-9">

    <div class="page_title">

        Register

    </div>
       
	 <form class="form-horizontal">
        <h3>Primary Address</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">First Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Email Address</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Alternate Email</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Phone Number</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Cell Phone</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Fax Number</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Company</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Address</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">City</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">State</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">Alabama</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Zip</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <h3>Shipping Address</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">First Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Address</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">City</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">State</label>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option value="">Alabama</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Zip</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Phone Number</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Cell Phone</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
	</div>
 {% endblock %}